.cc-breadcrumb {
    padding: 1rem 2rem !important
}

.cc-breadcrumb .cc-change-color {
    color: #6f6f6f
}

@media (max-width:767.98px) {
    .cc-breadcrumb {
        display: none;
        visibility: hidden
    }
}

.cc-signle-boutiques-google-markers,
.cc-single-boutique-map .cc-infowindow-mobile #mobile-switch-image,
.cc-single-boutique-map .cc-infowindow-mobile #mobile-switch-image .carousel-inner,
.cc-single-boutique-map .cc-infowindow-mobile #mobile-switch-image .carousel-inner .carousel-item,
.cc-single-boutique-map .cc-infowindow-mobile #mobile-switch-image .carousel-inner .carousel-item .cc-boutique-images {
    height: 100%
}

.cc-signle-boutiques-google-markers .cc-single-google-header {
    height: 1.25rem;
    padding-bottom: 1rem;
    position: relative
}

.cc-signle-boutiques-google-markers .cc-marker-padding-top {
    padding-top: 3%
}

.cc-signle-boutiques-google-markers .cc-marker-details {
    border-top: 1px solid #f3f3f3;
    padding: 0;
    padding-top: .5rem
}

.cc-signle-boutiques-google-markers .cc-text-title {
    font-family: "GTEesti";
    font-weight: 500;
    font-size: .875rem;
    color: #262626;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    left: 0
}

.cc-signle-boutiques-google-markers .cc-boutiques-close {
    position: absolute;
    right: 0
}

.cc-signle-boutiques-google-markers .cc-boutiques-close .cc-icon {
    height: 1.1875rem;
    width: 1.1875rem
}

.cc-signle-boutiques-google-markers .cc-boutiqus-images {
    height: 100%;
    width: 100%
}

.cc-single-boutique-map {
    height: 65.5rem
}

@media (max-width:1199.98px) {
    .cc-single-boutique-map {
        height: 100vh
    }
}

@media (max-width:767.98px) {
    .cc-single-boutique-map {
        height: 25.875rem
    }
}

.cc-single-boutique-map #map,
.cc-single-boutique-map #mapBaidu {
    width: 100%;
    height: 70%;
    background-color: #f3f3f3
}

@media (max-width:1199.98px) {

    .cc-single-boutique-map #map,
    .cc-single-boutique-map #mapBaidu {
        height: 100%
    }
}

@media (max-width:767.98px) {

    .cc-single-boutique-map #map,
    .cc-single-boutique-map #mapBaidu {
        height: calc(100% - 56px)
    }
}

.cc-single-boutique-map .cc-images-single-boutiques {
    width: 100%;
    height: 30%
}

@media (max-width:1199.98px) {
    .cc-single-boutique-map .cc-images-single-boutiques {
        display: none !important;
        visibility: hidden !important
    }
}

.cc-single-boutique-map .cc-images-only-mobile-visible {
    display: none;
    visibility: hidden
}

@media (max-width:767.98px) {
    .cc-single-boutique-map .cc-images-only-mobile-visible {
        width: 100%;
        height: calc(100% - 56px)
    }
}

.cc-single-boutique-map .cc-images-only-mobile-visible .cc-images-single-boutiques-mobile {
    width: 100%;
    height: 100%
}

.cc-single-boutique-map .cc-single-mobile-switch {
    display: none;
    visibility: hidden;
    position: relative;
    height: 3.5rem
}

@media (max-width:767.98px) {
    .cc-single-boutique-map .cc-single-mobile-switch {
        display: block !important;
        visibility: visible !important
    }
}

.cc-single-boutique-map .cc-single-mobile-switch .cc-single-button-items {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    left: calc(50% - 40px);
    top: .5rem
}

.cc-single-boutique-map .cc-single-mobile-switch .cc-single-button-items .cc-button-switch {
    background-color: #f3f3f3;
    width: 2.5rem;
    height: 2.5rem
}

.cc-single-boutique-map .cc-single-mobile-switch .cc-single-button-items .cc-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #262626
}

.cc-single-boutique-map .cc-single-mobile-switch .cc-single-button-items .cc-icon.cc-icon-stroke {
    stroke: #262626
}

.cc-single-boutique-map .cc-single-mobile-switch .cc-single-button-items .cc-active {
    background-color: #262626
}

.cc-single-boutique-map .cc-invisible {
    display: none;
    visibility: hidden
}

.cc-single-boutique-map .cc-visible {
    display: block;
    visibility: visible
}

.cc-single-boutique-map .cc-infowindow-mobile {
    width: 100%;
    height: 100%
}

@media (max-width:767.98px) {
    .cc-single-boutique-map .cc-infowindow-mobile {
        width: 100%;
        height: 90%
    }

    .cc-single-boutique-map .cc-infowindow-mobile .cc-image-carousel-arrow {
        width: 2rem;
        height: 2rem;
        background-color: #fff;
        position: absolute;
        top: 50%
    }

    .cc-single-boutique-map .cc-infowindow-mobile .cc-image-carousel-arrow .cc-icon {
        width: 1.5rem;
        height: 1.5rem
    }

    .cc-single-boutique-map .cc-infowindow-mobile .dx {
        right: 0
    }

    .cc-single-boutique-map .cc-infowindow-mobile .sx {
        left: 0
    }
}

.cc-boutique-noBorderBottom {
    border-bottom: unset !important
}

.cc-single-boutiqu-content-detail {
    width: 35%
}

@media (max-width:1199.98px) {
    .cc-single-boutiqu-content-detail {
        width: 100%
    }
}

@media (max-width:767.98px) {
    .cc-single-boutiqu-content-detail {
        width: 100%
    }
}

.cc-single-boutiqu-content-detail .cc-boutique-note {
    background-color: #f3f3f3;
    margin: 0 -2rem;
    margin-top: -1px
}

@media (max-width:1199.98px) {
    .cc-single-boutiqu-content-detail .cc-boutique-note {
        margin: 0 -1rem
    }
}

.cc-single-boutiqu-content-detail .cc-boutique-note .cc-boutique-note-content {
    padding: 2rem
}

@media (max-width:1199.98px) {
    .cc-single-boutiqu-content-detail .cc-boutique-note .cc-boutique-note-content {
        padding: 2rem 1.5rem
    }
}

@media (max-width:767.98px) {
    .cc-single-boutiqu-content-detail .cc-boutique-note .cc-boutique-note-content {
        padding: 2rem 1rem
    }
}

.cc-single-boutiqu-content-detail .cc-boutique-note .cc-boutique-note-content .cc-boutique-note-title {
    font-weight: 300;
    font-size: .875rem;
    color: #7a7a7a;
    text-align: left;
    letter-spacing: .21875rem;
    text-transform: uppercase;
    margin-bottom: 1rem
}

.cc-single-boutiqu-content-detail .cc-boutique-note .cc-boutique-note-content .cc-boutique-note-message {
    font-weight: 400;
    font-size: 1rem;
    color: #313131;
    text-align: left;
    letter-spacing: .6px
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details {
    background-color: #fff;
    padding: 0 2rem
}

@media (max-width:1199.98px) {
    .cc-single-boutiqu-content-detail .cc-singleBoutique-details {
        padding: 0 1.5rem;
        padding-top: 2rem
    }
}

@media (max-width:767.98px) {
    .cc-single-boutiqu-content-detail .cc-singleBoutique-details {
        padding: 0 1rem
    }
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-single-container {
    border-bottom: 1px solid #e5e5e5
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-single-container.cc-no-border-bottom {
    border-bottom: none
}

@media (max-width:767.98px) {
    .cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-mobile-border-top {
        border-top: 1px solid #e5e5e5
    }
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-container-day-info {
    padding-bottom: 2rem
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-single-hours {
    padding: 2rem 0;
    padding-bottom: 1rem
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-single-gender,
.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-single-service {
    padding: 2rem 0
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-hours-row {
    overflow: hidden;
    position: relative
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-hours-row .cc-day {
    display: block;
    width: 100px;
    float: left
}

@media (max-width:767.98px) {
    .cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-hours-row .cc-day {
        width: 95px
    }
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-hours-row .cc-hours {
    width: calc(100% - 105px);
    float: right
}

@media (max-width:767.98px) {
    .cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-hours-row .cc-hours {
        width: calc(100% - 100px)
    }
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-service-title {
    font-weight: 300;
    font-size: .875rem;
    color: #6f6f6f;
    text-align: left;
    letter-spacing: .21875rem;
    text-transform: uppercase;
    margin-bottom: 1rem
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-service-items {
    font-weight: 400;
    font-size: 1rem;
    color: #262626;
    text-align: left;
    letter-spacing: .6px
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-single-city {
    font-weight: 400;
    font-size: 1.75rem;
    color: #262626;
    text-align: left
}

@media (max-width:1199.98px) {
    .cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-single-city {
        font-size: 1.25rem
    }
}

@media (max-width:767.98px) {
    .cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-single-city {
        padding: .5rem 0
    }
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-single-info {
    font-weight: 300;
    font-size: 1rem;
    color: #6f6f6f;
    text-align: left;
    letter-spacing: .6px;
    margin: 0;
    padding-bottom: .5rem
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-single-phone {
    color: #262626;
    margin: 0;
    padding: 1.5rem 0 2rem;
    max-width: 25rem
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-single-phone .cc-button-secondary {
    padding-left: .625rem;
    padding-right: .625rem
}

.cc-single-boutiqu-content-detail .cc-singleBoutique-details .cc-single-phone .cc-button-primary {
    padding-left: .625rem;
    padding-right: .625rem;
    margin-top: 1.5rem;
    -webkit-font-variant-ligatures: no-contextual;
    font-variant-ligatures: no-contextual
}

.cc-single-boutiqu-content-detail .cc-single-boutique-assistence {
    background-color: #f3f3f3;
    width: 100%;
    padding: 2rem
}

.cc-single-boutiqu-content-detail .cc-single-boutique-assistence .cc-assistenze-title {
    font-weight: 300;
    font-size: .875rem;
    color: #6f6f6f;
    letter-spacing: 3.5px;
    text-align: left;
    text-transform: uppercase
}

.cc-single-boutiqu-content-detail .cc-single-boutique-assistence .cc-assistence-message {
    display: -ms-flexbox;
    display: flex
}

.cc-single-boutiqu-content-detail .cc-single-boutique-assistence .cc-assistence-message .cc-assistence-icon {
    height: 1.5rem;
    width: 1.5rem
}

.cc-single-boutiqu-content-detail .cc-single-boutique-assistence .cc-assistence-message .cc-service-items {
    padding-left: .5rem;
    padding-bottom: 1rem;
    text-decoration: underline
}

@media (max-width:767.98px) {
    .cc-single-boutiqu-content-detail .cc-single-boutique-assistence .cc-mobile-button-hidden {
        display: block;
        visibility: hidden
    }
}

.cc-single-boutiqu-content-detail .cc-single-boutique-assistence .cc-assistence-moreInfo .cc-assistence-icon {
    height: 1rem;
    width: 1rem
}

.cc-single-boutiqu-content-detail .cc-single-boutique-assistence .cc-assistence-moreInfo .cc-content-text {
    font-weight: 400;
    font-size: .75rem;
    color: #fff;
    letter-spacing: 3px;
    padding-left: .625rem
}

.cc-single-boutiqu-content-detail .cc-single-boutique-assistence .cc-assistence-moreInfo .cc-block-button {
    position: relative;
    height: 3.125rem
}

.cc-single-boutiqu-content-detail .cc-single-boutique-assistence .cc-assistence-moreInfo .cc-content-button {
    position: absolute;
    right: 0
}

.cc-single-boutiqu-content-detail .cc-single-boutique-assistence .cc-assistence-moreInfo .cc-button-primary {
    display: -ms-flexbox;
    display: flex;
    width: 11.3125rem;
    padding: .9375rem .875rem
}

.cc-invisible {
    display: none;
    visibility: hidden
}

.cc-visible {
    display: block;
    visibility: visible
}

.cc-boutique-locator {
    width: 100%;
    padding: 0 .9375rem
}

.cc-boutique-locator .cc-clean-padding {
    padding: 0
}

.cc-boutique-locator .cc-clean-margin {
    margin: 0
}

.cc-boutique-locator .cc-boutiques-locator-map {
    width: 65%
}

@media (max-width:1199.98px) {
    .cc-boutique-locator .cc-boutiques-locator-map {
        width: 100%
    }
}

.cc-boutique-locator .cc-boutiques-locator-map .cc-boutique-map {
    width: 100%;
    float: left
}

.cc-boutique-locator .cc-boutiques-locator-map .cc-boutique-map #map,
.cc-boutique-locator .cc-boutiques-locator-map .cc-boutique-map #mapBaidu {
    width: 100%;
    background-color: #f3f3f3;
    height: 55.8125rem
}

@media (max-width:1199.98px) {

    .cc-boutique-locator .cc-boutiques-locator-map .cc-boutique-map #map,
    .cc-boutique-locator .cc-boutiques-locator-map .cc-boutique-map #mapBaidu {
        height: 45.8125rem
    }
}

@media (max-width:767.98px) {

    .cc-boutique-locator .cc-boutiques-locator-map .cc-boutique-map #map,
    .cc-boutique-locator .cc-boutiques-locator-map .cc-boutique-map #mapBaidu {
        height: 22.375rem
    }
}

.cc-boutique-locator .gm-style-iw-c {
    border-radius: unset !important
}

.cc-boutique-locator .gm-ui-hover-effect {
    display: none;
    visibility: hidden
}

.cc-boutique-locator .uNGBb-dialog-view--content .gm-ui-hover-effect {
    display: block;
    visibility: visible
}

.cc-boutique-locator .cc-google-marker {
    width: 33.25rem;
    height: 100%;
    padding-bottom: .9375rem
}

@media (max-width:767.98px) {
    .cc-boutique-locator .cc-google-marker {
        width: 100%
    }
}

.cc-boutique-locator .cc-google-marker .cc-google-header {
    height: 1.25rem;
    padding-top: .125rem;
    padding-bottom: 1rem;
    position: relative
}

.cc-boutique-locator .cc-google-marker .cc-marker-details {
    border-top: 1px solid #f3f3f3;
    padding: .5rem 0 2.1875rem
}

@media (max-width:767.98px) {
    .cc-boutique-locator .cc-google-marker .cc-marker-details {
        padding-left: .9375rem;
        padding-right: .9375rem
    }
}

.cc-boutique-locator .cc-google-marker .cc-boutiques-close {
    position: absolute;
    right: 0
}

.cc-boutique-locator .cc-google-marker .cc-boutiques-close .cc-icon {
    height: 1.1875rem;
    width: 1.1875rem
}

.cc-boutique-locator .cc-google-marker .cc-text-title {
    font-family: "GTEesti";
    font-weight: 500;
    font-size: .875rem;
    color: #262626;
    text-align: left;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    position: absolute;
    left: 0
}

.cc-boutique-locator .cc-google-marker .cc-text-phone {
    font-family: "GTEesti";
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5625rem;
    margin-top: .25rem;
    margin-bottom: 0;
    color: #262626;
    letter-spacing: .6px;
    text-align: left;
    text-transform: uppercase
}

.cc-boutique-locator .cc-google-marker .cc-text-medium {
    font-family: "GTEesti";
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5625rem;
    color: #6f6f6f;
    text-align: left;
    margin: 0
}

.cc-boutique-locator .cc-google-marker .cc-text-hours {
    font-weight: 400;
    font-size: .75rem;
    letter-spacing: .6px;
    color: #6f6f6f;
    text-align: left;
    margin: .25rem 0 0
}

.cc-boutique-locator .cc-google-marker .cc-boutique-link {
    font-weight: 400;
    font-size: .875rem;
    color: #262626;
    letter-spacing: 1px;
    text-align: left;
    padding-bottom: .25rem;
    border-bottom: 1px solid #262626;
    position: absolute;
    bottom: 0;
    left: 0
}

@media (max-width:767.98px) {
    .cc-boutique-locator .cc-google-marker .cc-boutique-link {
        left: .9375rem
    }
}

.cc-boutique-locator .cc-google-marker .cc-boutique-link-right {
    font-weight: 400;
    font-size: .875rem;
    color: #262626;
    letter-spacing: 1px;
    text-align: left;
    padding-bottom: .25rem;
    border-bottom: 1px solid #262626;
    -webkit-font-variant-ligatures: no-contextual;
    font-variant-ligatures: no-contextual
}

@media (max-width:767.98px) {
    .cc-boutique-locator .cc-google-marker .cc-boutique-link-right {
        right: .9375rem
    }
}

.cc-boutique-locator .cc-google-marker .cc-content-img {
    display: block;
    position: relative;
    width: 100%;
    height: 11.25rem;
    overflow: hidden
}

.cc-boutique-locator .cc-google-marker .cc-boutiqus-images {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    height: 100%;
    padding: 0
}

.cc-boutique-locator .cc-google-marker .cc-sigle-boutique {
    margin: 0;
    padding-bottom: .25rem
}

.cc-boutique-locator .cc-marker-padding-top {
    padding-top: 1rem;
    overflow: hidden
}

.cc-boutique-locator .cc-boutiques-locator-find {
    width: 35%;
    max-height: 55.8125rem;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative
}

@media (max-width:1199.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find {
        width: 100%;
        position: unset
    }
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-padding-details {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem
}

@media (max-width:1199.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-padding-details {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media (max-width:767.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-padding-details {
        padding-top: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem
    }
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-padding-bottom-override {
    padding-bottom: 1rem
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-opened-desktop-tab {
    display: block;
    visibility: visible
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-opened-mobile {
    display: none;
    visibility: hidden
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-select-country {
    background-color: #fafafa;
    padding-bottom: 2.0625rem
}

@media (max-width:1199.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-select-country {
        padding-bottom: 1.9375rem
    }
}

@media (max-width:767.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-select-country {
        padding-bottom: 1rem
    }
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-text-regular {
    display: block;
    font-weight: 400;
    font-size: 1.75rem;
    color: #262626;
    text-align: left;
    padding-bottom: 1.75rem
}

@media (max-width:1199.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-text-regular {
        padding-bottom: 1.5rem
    }
}

@media (max-width:767.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-text-regular {
        padding-bottom: .5rem;
        font-size: 1.25rem
    }
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-text-medium {
    font-weight: 300;
    font-size: 1rem;
    color: #262626;
    text-align: center;
    padding-left: .75rem
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-text-title {
    font-weight: 500;
    font-size: .875rem;
    text-align: left;
    padding-bottom: 0;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    border-top: 1px solid #a2a2a2;
    margin-bottom: .5rem
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-text-addres {
    font-size: 1rem;
    line-height: 1.5625rem;
    letter-spacing: .6px;
    text-align: left;
    padding-left: 0;
    margin-bottom: 0;
    color: #6f6f6f
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-text-addres:hover,
.cc-boutique-locator .cc-boutiques-locator-find .cc-text-number:hover {
    text-decoration: underline
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-text-number {
    font-size: 1rem;
    letter-spacing: .6px;
    text-align: left;
    padding-left: 0;
    padding-bottom: 1rem;
    color: #262626;
    font-weight: 500
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-detail-country {
    font-size: 1.25rem;
    padding-left: 0;
    padding-bottom: 0
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-service-text {
    font-size: .875rem;
    padding-top: 1rem;
    padding-left: 0
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-service-filter {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-service-filter .cc-service-items {
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
    height: 2.5rem;
    background-color: #f3f3f3;
    padding: .6875rem .75rem .75rem;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-service-filter .cc-service-items-text {
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
    font-weight: 300;
    font-size: .875rem;
    color: #262626
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-service-filter .cc-service-padding {
    padding-right: 1rem;
    padding-top: 1rem
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-service-filter .cc-active-iteams {
    background-color: #262626
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-service-filter .cc-active-iteams .cc-service-items-text {
    color: #fff
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-boutique-filter-gender {
    padding-top: 1rem
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-title-hours {
    height: 3.0625rem;
    position: relative
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-left {
    position: absolute;
    left: 0
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-right {
    position: absolute;
    right: 4.375rem
}

@media (max-width:1199.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-right {
        padding-right: 2%
    }
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-gender {
    padding-left: 0
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-opened {
    width: 5%;
    position: absolute;
    padding-top: .875rem;
    right: 2rem
}

@media (max-width:1199.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-opened {
        right: 1.5rem
    }
}

@media (max-width:767.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-opened {
        padding-top: .625rem;
        right: 1rem
    }
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result {
    background-color: #fff
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-padding-descktop {
    padding-bottom: 5rem
}

@media (max-width:1199.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-padding-descktop {
        padding-bottom: 0
    }
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-single-boutiques-result {
    width: 100%;
    cursor: pointer
}

@media (max-width:1199.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-single-boutiques-result {
        width: 50%
    }
}

@media (max-width:767.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-single-boutiques-result {
        width: 100%
    }
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-single-boutiques-result:hover {
    background: #f3f3f3
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-single-boutiques-result .cc-boutiques-result-grid {
    width: 100%;
    padding: 0 2rem
}

@media (max-width:1199.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-single-boutiques-result .cc-boutiques-result-grid {
        padding: 0 1.5rem;
        padding-left: 1.0625rem
    }
}

@media (max-width:767.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-single-boutiques-result .cc-boutiques-result-grid {
        padding: 0 1rem
    }
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-single-boutiques-result .cc-boutiques-result-grid-sx {
    width: 100%;
    padding: 0 2rem
}

@media (max-width:1199.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-single-boutiques-result .cc-boutiques-result-grid-sx {
        padding: 0 1.5rem;
        padding-right: 1.0625rem
    }
}

@media (max-width:767.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-single-boutiques-result .cc-boutiques-result-grid-sx {
        padding: 0 1rem
    }
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-active-live-search {
    background-color: #f3f3f3
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-boutique-content-link {
    position: relative;
    height: 1.5625rem
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-boutiques-link {
    position: absolute;
    bottom: 0;
    right: 0;
    letter-spacing: 1px;
    border-bottom: 1px solid #262626;
    padding-bottom: .25rem;
    margin-bottom: 1.0625rem;
    font-size: .875rem
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-boutiques-result .cc-appointment-link {
    position: absolute;
    bottom: 0;
    left: 0;
    letter-spacing: 1px;
    border-bottom: 1px solid #262626;
    padding-bottom: .25rem;
    margin-bottom: 1.0625rem;
    font-size: .875rem;
    -webkit-font-variant-ligatures: no-contextual;
    font-variant-ligatures: no-contextual
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-scrollable-result {
    padding-top: 2rem;
    overflow: scroll;
    overflow-x: hidden;
    -ms-flex: 1;
    flex: 1
}

@media (max-width:1199.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-button-tablet-help {
        position: relative;
        padding: 2rem
    }
}

@media (max-width:767.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-button-tablet-help {
        display: none;
        visibility: hidden
    }
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-assistence-icon {
    height: 1rem;
    width: 1rem
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-block-button .cc-content-text,
.cc-boutique-locator .cc-boutiques-locator-find .cc-content-text {
    font-weight: 400;
    font-size: .75rem;
    color: #fff;
    letter-spacing: 3px;
    padding-left: .625rem
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-block-button,
.cc-boutique-locator .cc-boutiques-locator-find .cc-block-button .cc-block-button {
    position: absolute;
    height: 3.125rem;
    width: 11.25rem;
    bottom: 1.6875rem;
    right: 2rem
}

@media (max-width:1199.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-block-button {
        position: unset;
        bottom: unset;
        right: unset
    }
}

@media (max-width:1199.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-block-button .cc-block-button {
        position: unset;
        bottom: unset;
        right: unset
    }
}

@media (max-width:767.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-block-button .cc-block-button {
        display: none;
        visibility: hidden
    }
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-block-button .cc-content-button {
    position: absolute;
    right: 0
}

@media (max-width:1199.98px) {
    .cc-boutique-locator .cc-boutiques-locator-find .cc-block-button .cc-content-button {
        right: 2rem
    }
}

.cc-boutique-locator .cc-boutiques-locator-find .cc-block-button .cc-button-primary {
    display: -ms-flexbox;
    display: flex;
    width: 11.3125rem;
    padding: .9375rem .875rem
}

/*# sourceMappingURL=boutiquesLocator.css.map */